## Visual Studio / C# .gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# NuGet packages
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code workspace files (if shared)
.vscode/